/* App.css */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	font-size: 1.2rem;
  }
  
  header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
  header h1 {
	margin: 0;
  }
  
  header img {
	width: 50px;
	height: auto;
	margin-left: 10px;
	vertical-align: middle;
  }
  

  #new-task-form {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  #new-task-input {
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin:3rem 0;
	width: 300px;
  }
  
  #new-task-submit {
	padding: 1rem;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 1.5rem;
	cursor: pointer;
	margin-left:1rem;
  }
  
  #new-task-submit:hover {
	background-color: #45a049;
  }
  
  .task-list {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 20px;
	background-color: #fff;
	width :70%;
	margin: auto 15%;
  }
  
  .task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	
  }
  
  .task .content {
	display: flex;
	align-items: center;
  }
  
  .task .content label {
	margin-left: 10px;
  }
  
  .task .actions button {
	padding: 8px 12px;
	background-color: #f44336;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-left: 1rem;
  }
  
  .task .actions button.edit {
	background-color: #ff9800;
  }
  
  .task .actions button:hover {
	background-color: #e53935;
  }
  
  .task .actions button.edit:hover {
	background-color: #ff6d00;
  }
  
  .task-footer {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .number-of-task {
	font-size: 14px;
  }
  
  .operations button {
	padding: 8px 12px;
	background-color: #2196f3;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  
  .operations button:hover {
	background-color: #1e88e5;
  }
  